html {
    height: 100vh;
}

body {
    height: 100;
    margin: 0;
    padding: 0;
    /*-------------------*/
    background-image: linear-gradient( 130deg, hsl(60deg 4% 26%) 0%, hsl(37deg 2% 45%) 9%, hsl(20deg 1% 58%) 17%, hsl(7deg 2% 69%) 24%, hsl(0deg 2% 72%) 31%, hsl(0deg 2% 64%) 39%, hsl(0deg 1% 54%) 46%, hsl(0deg 1% 41%) 54%, hsl(0deg 2% 33%) 63%, hsl(0deg 2% 27%) 73%, hsl(0deg 2% 19%) 85%, hsl(0deg 0% 0%) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*-------------------------------------*/


/*----------Bass Drum------------------*/

#Bass-drum-div {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: 25rem;
    left: 33rem;
}

#Bass-drum {
    width: 15rem;
    height: 15rem;
    border-radius: 9rem;
    border: 5px solid black;
    background-color: whitesmoke;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.max {
    position: absolute;
    top: -5rem;
    left: -5rem;
}

.sym {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 24rem;
    left: 45rem;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(./inst/sym.png);
    background-size: cover;
    background-position: center;
}

.tan {
    width: 10rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px dashed black;
    position: absolute;
}


/*----------------------------------------*/

.hig-tom-div {
    width: 13rem;
    top: 9rem;
    left: 45rem;
    background-color: whitesmoke;
}

.mid-tom-div {
    width: 13rem;
    top: 10rem;
    left: 33rem;
    background-color: whitesmoke;
}

.snare-drum-button {
    width: 14rem;
    top: 38rem;
    left: 30rem;
    background-color: whitesmoke;
}

.floor-tom-div {
    width: 13rem;
    top: 38rem;
    left: 45rem;
    background-color: whitesmoke;
}

.hi-hat {
    top: 25rem;
    left: 25rem;
    border: solid black 5px;
    background-image: url(./inst/sym.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button:hover {
    border-color: gold;
    cursor: pointer;
}


/*-------------------------------------------*/


/* .sym {
    background-image: url(./inst/sym.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */


/*-------------------------------------*/


/*------------hovers-------------*/

#Bass-drum:hover {
    border-color: yellow;
    cursor: pointer;
}

.sym:hover {
    border-color: gold;
}


/*------------------------------------------*/


/*---------------media screens-----------------*/

@media screen and (max-width:800px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #Bass-drum-div {
        top: 25rem;
        left: 10rem;
    }
    .sym {
        top: 25rem;
        left: 23rem;
        z-index: 1;
    }
    .hig-tom-div {
        top: 11rem;
        left: 23rem;
    }
    .mid-tom-div {
        top: 11rem;
        left: 9rem;
    }
    .snare-drum-button {
        top: 40rem;
        left: 9rem;
    }
    .floor-tom-div {
        top: 40rem;
        left: 23rem;
    }
    .hi-hat {
        top: 25rem;
        left: 0;
    }
}


/*------------------------------------------*/


/*------------------------------------------*/


/*------------------------------------------*/


/*------------font-faces------------------------*/

@font-face {}


/*------------------------------------------*/


/*------------------------------------------*/